body{
    margin: 0;
    padding: 0;
    background-color: rgb(224, 219, 219);
    font-weight: bold ;
}
.container{
    width: 400px;
    height: 570px;
    box-shadow: 0 0 5px 5px rgb(197, 195, 195);
    margin-left: 37%;
    background-color: white;
    border-radius: 5px;
    
}
hr{
    border-color:rgb(224, 219, 219);
  
}
h1{
    color: blue;
    font-size: 50px;
    text-align: center;
 
}
h2,p{
    margin: 0;
    padding: 0;
}
.header{
   text-align: center;
   padding: 10px;
   
}
.input1{
     display: flex;
     justify-content: space-evenly;
}
.input1 input{
    padding:8px;
    border-radius: 4px;
}

.input2{
    padding: 5px;
}
.input2 input{
    width: 92%;
    margin: 6px;
    padding: 8px;
    border-radius: 4px;
}
.wrapper{
    display: flex;
    justify-content: space-evenly;
}
select{
    width: 30%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
}
label{
    margin-left: 10px;
}
.radio{
    border:1px solid grey;
    width: 25%;
    padding: 8px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-top: 10px;
}
input[type=radio]{
   margin-left:35px;
   margin-top: 6px;
}
.lab{
    margin-top: 20px;
}
p{
  text-align: justify;
  padding: 10px;
}
#p1{
    text-align: justify;
    padding: 10px;
    margin-top: -10px;
}
button{
    margin-left: 25%;
    padding: 8px;
    width: 200px;
    background-color: rgb(18, 166, 18);
    color: white;
    font-size:15px;
    border-radius: 5px;
}
#p2{
    margin-left: 25%;
    color: blue;
}